{% extends "layout.html" %}
{% block content %}
{% for post in posts %}
<article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                  <a class="mr-0">{{post.phoneNum}}</a>
                  <a href='deleteStuEmergencyContact/{{post.TAEmail}}/{{post.phoneNum}}'><p>Delete</p></a>
              </div>
              <a class="mr-0">{{ post.firstName}}</a>
                <a class="mr-0">{{ post.middleName}}</a>
                <a class="mr-0">{{ post.lastName}}</a>
            </div>
</article>
{% endfor %}
<div class="content-section" xmlns="http://www.w3.org/1999/html">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edit</legend>
                <div class="form-group">
                    {{ form.phoneNum.label(class="form-control-label") }}
                    {% if form.phoneNum.errors %}
                        {{ form.phoneNum(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.phoneNum.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.phoneNum(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.firstName.label(class="form-control-label") }}
                    {% if form.firstName.errors %}
                        {{ form.firstName(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.firstName.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.firstName(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.middleName.label(class="form-control-label") }}
                    {% if form.middleName.errors %}
                        {{ form.middleName(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.middleName.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.middleName(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.lastName.label(class="form-control-label") }}
                    {% if form.lastName.errors %}
                        {{ form.lastName(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.lastName.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.lastName(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
